.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem
}

.services__service {
    height: fit-content;
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 0 0 2rem 2rem;
    transition: var(--default-transition);
}

.services__service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.services__header {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, .1);
}

.services__header h3 {
    color: var(--color-bg);
    text-align: center;
    font-size: 1rem;
}

.services__items {
    padding: 2rem;
}

.services__items li {
    display: flex;
    gap: 1rem;
    margin-bottom: .8rem;
}

.services__items p {
    font-size: .9rem;
}

.services__article-icon {
    color: var(--color-primary);
    margin-top: 6px;
}

/* MEDIA QUERIES (Medium) */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .services__service {
        height: auto;
    }
}

/* MEDIA QUERIES (Small) */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

