nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: flex;
    gap: .8rem;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.2rem;
    padding: .7rem 1.7rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    z-index: 2;
}

nav > a {
    background: transparent;
    padding: .8rem;
    display: flex;
    color: var(--color-light);
    border-radius: 3rem;
}

nav > a:hover {
    color: var(--color-white);
    background: rgba(0, 0, 0, .3);
}

nav > a.active {
    background: var(--color-bg);
    color: var(--color-white);
}

